.rectangle{
    height: 33.3%;
    width: 100%;
}

#orange{
    background-color: orangered;
    position: absolute;
    top: 0px;
    left: 0px;

}

#green{
    background-color : rgb(3, 171, 3);
    position: absolute;
    top: 66.6%;
    left: 0px;

}

.circle{

    background-color: orangered;
    height: 235px;
    width: 235px;
    position: absolute; 
    top: 35%;
    left: 43%;
    border-radius: 50%;

}
