
.subscribe{
    color: white;
    background-color: rgb(205, 32, 31);
    border-radius: 2px;
    border-color: rgb(205, 32, 31);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-style: solid;
    margin-left: 10px;
    margin-right: 8px; 



}

.subscribe:hover{

    opacity: 0.9;
    box-shadow: 1px 1px 6px black;
    transition: opacity 0.15s;


}

.subscribe:active{
    background-color: rgb(235, 14, 14);
    transition: background-color 0.15s;
    color:rgb(255, 255, 255) ;
}

.join{

    border-style: solid;
    border-color: rgb(41, 118, 211);
    border-radius: 2px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: rgb(41, 118, 211);
    background-color: white;
}

.join:hover{
    opacity: 0.8;
    box-shadow: 1px 1px 6px rgb(30, 88, 158) ;
}

.join:active{
    background-color: rgb(30, 88, 158) ;
    transition: background-color .15s ;
}