h1 {
    text-align: center;
    color: #000000;

}

.input {
    color: #766e6e;

}

body {
    background-color: rgb(255, 255, 255);
}

div {
    color: #000000;

    height: 25px;

}